@{
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div>
    <div style="width: 80%; float: right; padding-bottom: 100px;">
        <div style="width: 50px; float: left;"></div>
        <div style="width: 50px; float: right;"></div>
        <div style="margin-left: 50px; margin-right: 50px;">
            
          Index

        </div>
    </div>

</div>
