@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="intro-text">
                <span class="name">Welcome to <div>frndly</div></span>
                <hr class="star-light">
                <span class="skills">Find friends that you're actually intersted in</span>
                <span class="name"><a id="signreg" href="#">Sign in</a> | <a id="signreg" href="@Url.Action("Register", "Account")">Register</a></span>
            </div>
        </div>
    </div>
</div>